body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FF6600;
  color: #FFFFFF;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.font-bold {
  font-weight: bold;
}